@import "../../../Styles/colours.scss";
@import "../../../Styles/breakpoints.scss";

a {
  text-decoration: none;
  color: $cor-secundaria;
  .iconsArea {

    .icons {
      font-size: 30px;
      color: $cor-secundaria;
      width: 70%;
      padding: 1px;
    }
    
    .iconsText{
        width: 70%;
        font-size: 30px;
    }
  }
}

@media (max-width: $mobile) {
    .tabIcons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .iconsText{
            display: none;
        }
    }
  }
  
